<div>
  <div>
    <ng-container *ngIf="wearingSunglasses; else noGlasses">
      <span *ngFor="let t of tiles">
        {{ t.index == playerX ? "😎" : t.emoji }}
      </span>
    </ng-container>
    <ng-template #noGlasses>
      <span *ngFor="let t of tiles">
        {{ t.index == playerX ? "🤓" : t.emoji }}
      </span>
    </ng-template>
  </div>

  <p>
    <button (click)="left()" [disabled]="gameOver" [disabled]="lostGame">
      Left
    </button>
    <button (click)="jump()" [disabled]="gameOver" [disabled]="lostGame">
      Jump
    </button>
    <button (click)="right()" [disabled]="gameOver" [disabled]="lostGame">
      Right
    </button>
    <button (click)="down()" [disabled]="gameOver" [disabled]="lostGame">
      Down
    </button>
  </p>

  <p *ngIf="gameOver">🎉🏆 Victory! 🏆🎉</p>
  <p *ngIf="lostGame">😿😿 You last man 😿😿</p>

  <!--
    <p>
        Internal game state:
        <br/>
        player pos: {{playerX}}
        <br/>
        game over: {{gameOver}} 
    </p>
    -->
</div>
